.pagination .page-item .page-link {
	width: 70px;
}

.action-btn{
	text-align: center;
}

.action-btn ul{
	margin: 0;
	padding: 0;
}

.action-btn ul li{
	list-style: none;
	display: inline;
	margin: 0 7px;
}

.action-btn ul li .fa-edit{
	color: #198754;
}

.action-btn ul li .fa-trash{
	color: #dc3545;
}